body {
    background: #272525;
    margin-top: 50px;
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#todo-container {
    background: #3a3737;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #151414;
    border-radius: 15px;
}

#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px; 
}

input::placeholder {
    color: #cccccc;
    opacity: 70%;
}

#input-box {
    width: 200px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 20px;
}

#input-button {
    background-color: forestgreen;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}

#input-button:hover {
    background-color: #27b527; 
}

ul {
    margin-top: 20px;
    padding: 0;
    text-align: left;
    list-style: none;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.edit-button {
    color: forestgreen;
    transition: 0.4s;
}

.edit-button:hover {
    color: #27b527;
}

.delete-button {
    color: crimson;
    transition: 0.4s;
}

.delete-button:hover {
    color: #ff2e58;
}

.edit-button, .delete-button {
    background: none;
    padding: 1.5px 5px;
    border: none;
    float: right;
    cursor: pointer;
}

.completed > label > #task {
  text-decoration: line-through;
  color: gray;
}